
div{
    width: 800px;
    margin: auto;
    margin-top: 50px;
}
img{
    position: relative;
    border-radius: 5px;
}
#prev{
    position: absolute;
    top: 38%;
    left:20.5%;
    width: 100px;
    padding: 5px 10px;
    background-color:violet;
    text-transform: uppercase;
    font-weight: bold;
    border:none;
    border:1px solid black;
    border-radius: 10px;
}
#next{
    position: absolute;
    top: 38%;
    right:20.5%;
    width: 100px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: bold;
    border:none;
    border:1px solid black;
    border-radius: 10px;
    background-color: violet;
}
h1{
    width: 60px;
    height: 50px;
    padding-top: 10px;
    border-radius: 50%;
    text-align: center;
    border:none;
    border:2px solid lime;
    margin: auto;
    margin-top: 10px;
    background-color:coral;
}